
#form  label,#form5  label,#form6  label,#form7  label {width:281px;position:relative;}
#form1 label {width:281px;position:relative;}
#form2 label {width:271px;position:relative;} 
#form3 label {width:318px;position:relative;} 
#form4 label {width:308px;position:relative;} 



#form .error-empty,#form1 .error-empty,#form2 .error-empty,#form3 .error-empty,#form4 .error-empty,#form5 .error-empty,#form6 .error-empty,#form7 .error-empty {
	color: #FF0000;
	display: none;
	font-size: 22px;
	line-height: 22px;
	width:auto;
	position: absolute;
	z-index: 999;
	right: 15px;
	top: 15px;
	float:left;
}

#form2 .error-empty {top:12px;}
#form4 .error-empty {top:17px;}

.success_wrapper .success {position:absolute;background:#fff;color:#fff;font-family:dinr;z-index:50;color:#000;padding:15px;} 